<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="FeriaEntities" connectionString="metadata=res://*/OkModel.csdl|res://*/OkModel.ssdl|res://*/OkModel.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Feria.sdf&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>
